allow audioserver persist_audio_data_file:dir r_dir_perms;
allow audioserver persist_audio_data_file:file r_file_perms;
allow audioserver persist_file:dir search;
