allow fingerprintd device:chr_file { ioctl open read write };
allow fingerprintd system_data_file:file { open write };
allow fingerprintd tee:unix_stream_socket connectto;
allow fingerprintd tee_device:chr_file { ioctl open read write };
