allow init fingerprint_sysfs:file setattr;
allow init fingerprint_device:chr_file { open read write ioctl };
allow init oem_block_device:blk_file write;
allow init property_socket:sock_file write;
allow init hwservicemanager:binder { call transfer };
allow init system_server:binder call;
allow init hwlog_jank_device:chr_file write;
allow init huawei_log_file:filesystem { relabelto relabelfrom mount };

allow init diag_device:chr_file { write ioctl };
