allow kernel hwlog_exception_device:chr_file { open write };
allow kernel hwlog_jank_device:chr_file { open write };
allow kernel hwlog_bdat_device:chr_file { open write };
