type macaddr, domain;
type macaddr_exec, exec_type, file_type;
init_daemon_domain(macaddr)

allow macaddr bluetooth_data_file:dir { search write add_name };
allow macaddr self:capability { dac_override chown fowner };
allow macaddr bluetooth_data_file:file { create read write open getattr setattr };

allow macaddr wifi_data_file:dir { search write add_name };
allow macaddr wifi_data_file:file { create read write open getattr setattr };

# oeminfo_nvm_server
allow macaddr socket_device:sock_file write;
allow macaddr oeminfo:unix_stream_socket connectto;
allow macaddr device:file { read open getattr unlink };
allow macaddr device:dir { write remove_name };
