allow rmt_storage self:capability net_raw;
allow rmt_storage debugfs_rmt_storage:file { open write };
allow rmt_storage debugfs_rmt_storage:dir search;
