## This file contains the different modes and permissions of Huawei
#init platform
import /init.huawei.target.rc
#init module
import /init.huawei.os.rc
import /init.huawei.power.rc
import /init.huawei.audio.rc
import /init.huawei.device.rc
import /init.huawei.camera.rc
import /init.huawei.wcnss.rc