## This file contains the different modes and permissions of Huawei
#init platform
import /vendor/etc/init/hw/init.huawei.target.rc
#init module
import /vendor/etc/init/hw/init.huawei.os.rc
import /vendor/etc/init/hw/init.huawei.power.rc
import /vendor/etc/init/hw/init.huawei.audio.rc
import /vendor/etc/init/hw/init.huawei.device.rc
import /vendor/etc/init/hw/init.huawei.camera.rc
import /vendor/etc/init/hw/init.huawei.wcnss.rc
